<section class="hk-search-mother">
    <div class="hk-search" ng-hide="detail">
        <form name="searchForm">
        	<span class="error" ng-show="service == 'hospital'">Enter location e.g Yaba</span>
            <input class="search-box" type="search" placeholder="Find your doctor, a hospital or medicine prices" ng-model="name" ng-change="search()" required ng-disabled="!service" />

            <select class="service" ng-model="service">
            	<option value="">Choose..</option>
                <option value="doctor">Doctor</option>
                <!-- <option value="medicine">Medicine</option> -->
                <option value="hospital">Hospital</option>
            </select>

            <select class="hospital-type" ng-model="hospital.service" ng-show="service == 'hospital'" ng-disabled="!name" required>
            	<option value="">Choose a service</option>
                <option value="Maternal health delivery">Maternal health delivery</option>
				<option value="Ambulance">Ambulance</option>
				<option value="Birth attendants">Birth attendants</option>
				<option value="C section">C section</option>
				<option value="Measles immunization">Measles immunization</option>
				<option value="Ante-natal care">Ante-natal care</option>
				<option value="Family planning">Family planning</option>
				<option value="Malaria treatment">Malaria treatment</option>
            </select>

            <button class="hospital-search-button" ng-show="service == 'hospital'" ng-disabled="searchForm.$invalid" ng-click="showDetail()">
            	Search
            </button>
        </form>
        <div class="hk-search-results" ng-show="searching">
            <li ng-repeat="result in results" ng-click="showDetail(result)" ng-hide="result.formatted_address">
                <p class="title">{{result.name}} jsjhouhou</p>
                <p class="sub">{{result.specialization}}</p>
            </li>
            <li ng-repeat="result in results" ng-click="addLocation(result)" ng-show="result.formatted_address">
                <p class="title">{{result.formatted_address}}</p>
                <p class="sub">{{result.specialization}}</p>
            </li>
            <p class="text-center"><i class="fa fa-spinner fa-spin" ng-hide="results.length"></i></p>
        </div>
    </div>
    <div class="detailCard" ng-show="detail">
        <span class="badge" ng-click="close()"><i class="fa fa-arrow-circle-o-left"></i> Go back</span>

        <div class="single">
            <i class="fa fa-user-md"></i>
            <span>
				<h5>Name</h5>
				<p>{{information.name}}</p>
			</span>
        </div>

        <div class="single">
            <i class="fa fa-phone"></i>
            <span>
				<h5>Telephone Number</h5>
				<p>{{information.telephone}}</p>
			</span>
        </div>

        <div class="single">
            <i class="fa fa-hospital-o"></i>
            <span>
				<h5>Specialization</h5>
				<p>{{information.specialization}}</p>
			</span>
        </div>

        <div class="single">
            <i class="fa fa-building"></i>
            <span>
				<h5>Address</h5>
				<p>{{information.address}}</p>
			</span>
        </div>

    </div>
</section>

<section class="mother animated fadeInUp">
    <div class="news-card">
        <a href="" class="photo"></a>
        <div class="card-details">
            <h3>Title</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie libero libero, porta lacinia diam fermentum a. Morbi eu magna lectus.
            </p>
        </div>
    </div>
    <div class="news-card">
        <a href="" class="photo"></a>
        <div class="card-details">
            <h3>Title</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie libero libero, porta lacinia diam fermentum a. Morbi eu magna lectus.
            </p>
        </div>
    </div>
    <div class="news-card">
        <a href="" class="photo"></a>
        <div class="card-details">
            <h3>Title</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie libero libero, porta lacinia diam fermentum a. Morbi eu magna lectus.
            </p>
        </div>
    </div>
</section>