<nav class="b-b">
	<div class="container">
		<div class="row">
			<div class="col-md-12 tool-bar no-padder">
				<a href="http://www.codefornigeria.org"><img src="assets/img/logo.png" class="logo"></a>
				<a href="https://twitter.com/codefornigeria" target="_blank"><li class="fa fa-twitter"></li></a>
				<a href="https://web.facebook.com/codefornigeria" target="_blank"><li class="fa fa-facebook"></li></a>
				<li class="b-r divider"></li>
				<li>Get in touch</li>
				<li>Faqs</li>
			</div>
		</div>
	</div>
</nav>
<div class="hero">
	<div class="col-md-6 col-md-offset-3 p-t-md text-center">
		<p class="header">Health Data Kit</p>
		<p class="sub-header">Data-driven health tools for informed citizenry.</p>
	</div>
</div>
<div class="container no-margin">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 card no-padder">
			<div class="div col-xs-12 col-sm-4 col-md-4 b-r m-n" ng-controller="dodgyDoctorsCtrl">
				<h4><i class="fa fa-user-md"></i> Check your Doctor</h4>
				<hr/>
				<p>Is your doctor licensed? Find out here.</p>
				<p>Licensed but can't find your name? <a href="mailto:dodgydoctors@codefornigeria.org?subject=Hello"></a></p>
				<input type="text" placeholder="Doctor's name" ng-model="doctorName" class="input m-t-lg" ng-change="search()"></input>

				<div class="col-md-10 result m-t no-padder" ng-show="searching">
					<li ng-repeat="result in results" ng-click="$parent.showDetail(result)">
						{{result.name}}
					</li>
				</div>

				<!-- <button class="btn btn-primary m-t" ng-click="$parent.showDetail(doctor)" ng-disabled="!doctorName">Search</button> -->

				<div class="details animated fadeInUp" ng-show="detail">
					<span class="badge"><i class="fa fa-check"></i> Registered Doctor</span>
					<i class="fa fa-close pull-right clickable" ng-click="close()"></i>
					<h5>Name</h5>
					<p>{{information.name}}</p>

					<h5>Specialization</h5>
					<p>{{information.specialization}}</p>

					<h5>Address</h5>
					<p>{{information.address}}</p>

					
					<h6 class="m-t-lg" ng-click="showImage()">See photo</h6>
				</div>
				<div class="doctorImage animated fadeInUp" ng-show="image">
					<i class="fa fa-close pull-right clickable" ng-click="closeImage()"></i>
					<img gravatar-src="information.email" gravatar-size="200">
				</div>
			</div>

			<div class="div col-xs-12 col-sm-4 col-md-4 b-r m-n" ng-controller="medicinePricesCtrl">
				<h4><i class="fa fa-user-md"></i> Medicine prices</h4>
				<hr/>
				<p class="l-h">Find out what you should pay for your medicine.</p>
				
				<input type="text" placeholder="Medicine name" ng-model="medicineName" ng-change="search()" class="input m-t-lg"></input>

				<div class="col-md-10 result m-t no-padder" ng-show="searching">
					<li ng-repeat="med in medicines | filter: medicineName" ng-click="$parent.showDetail(med)">
						{{med.name}}
					</li>
				</div>

				<div class="details animated fadeInUp" ng-show="detail">
					<i class="fa fa-close pull-right clickable" ng-click="close()"></i>
					<h5>Name</h5>
					<p>{{information.name}}</p>

					<h5>Price</h5>
					<p>&#8358{{information.price}}</p>

					<h5>Form</h5>
					<p>{{information.form}}</p>

					<h5>Strength</h5>
					<p>{{information.strength}}</p>

					<a href="http://medicine-prices.herokuapp.com" target="_blank" class="text-center"> Paying too much?</a>
				</div>
			</div>

			<div class="div col-xs-12 col-sm-4 col-md-4 m-n" ng-controller="hospitalFinderCtrl">
				<h4><i class="fa fa-hospital-o"></i> Find an Hospital</h4>
				<hr/>
				<form name="hospitalFinder">
					<select class="input" ng-model="hospital.service" ng-disabled="load">
						<option value="">Choose a service</option>
						<option value="">All / Any</option>
						<option value="Maternal health delivery">Maternal Health Delivery</option>
						<option value="Birth attendants">Birth Attendants</option>
						<option value="C section">C-Section</option>
						<option value="Measles immunization">Measles Immunization</option>
						<option value="Ante-natal care">Ante-natal Care</option>
						<option value="Family planning">Family Planning</option>
						<option value="Malaria treatment">Malaria Treatment</option>
					</select>
					<div class="input-group">
						<input type="text" placeholder="Location" class="input" ng-model="hospital.name" ng-change="search()" required ng-disabled="load">
						<span class = "input-group-btn">
							<button class="btn btn-primary" type="button" ng-click="showDetail(hospital)" ng-disabled="hospitalFinder.$invalid || load">
								<span ng-show="!load">Go!</span>
								<span ng-show="load"><i class="fa fa-spinner fa-spin"></i></span>
							</button>
						</span>
					</div>
					<div class="col-md-10 result m-t no-padder" ng-show="searching">
						<li ng-repeat="result in results" ng-click="addLocation(result)">
							{{result.formatted_address}}
						</li>
					</div>
				</form>

				<div class="details animated fadeIn" ng-show="hospitals.length">
					<i class="fa fa-close pull-right clickable" ng-click="closeList()"></i>
					<p ng-repeat="hospital in hospitals" class="clickable p search-results m-b-o" ng-click="showHospital(hospital)">{{hospital.obj.facilityName}}</p>
				</div>
				<div class="hospitalDetails animated fadeInUp" ng-show="hospitalDetails">
					<i class="fa fa-close pull-right clickable" ng-click="close()"></i>
					<h5>Hospital Name</h5>
					<p>{{hospital.facilityName}}</p>

					<h5>Facitily Type</h5>
					<p>{{hospital.facilityTypeDisplay}}</p>

					<h5>Community</h5>
					<p>{{hospital.community}}</p>

					<h5>Number of Doctors</h5>
					<p ng-if="numDoctorsFulltime = true">{{hospital.numDoctorsFulltime}}</p>
					<p ng-if="numDoctorsFulltime = false">None</p>

					<h5>Number of Nurses</h5>
					<p ng-if="numNursesFulltime = true">{{hospital.numNursesFulltime}}</p>
					<p ng-if="numNursesFulltime = false">None</p>

					<h5>Number of Midwives</h5>
					<p ng-if="numNursesFulltime = true">{{hospital.numNurseMidwivesFulltime}}</p>
					<p ng-if="numNursesFulltime = false">None</p>

					<h5>Water supply</h5>
					<p ng-if="improvedWaterSupply = true">Yes</p>
					<p ng-if="improvedWaterSupply = false">No</p>

					<h5>Management</h5>
					<p>{{hospital.management}}</p>

					<h5>Ambulance</h5>
					<p ng-if="emergencyTransport = true">Yes</p>
					<p ng-if="emergencyTransportn = false">No</p>

					<a href="https://maps.google.com/maps?q=loc:{{hospital.latitude}},{{hospital.longitude}}" target="_blank" class="text-center">Show on map</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row m-t-xxl" ng-controller="articleCtrl">
		<div class="col-md-6 news-card" ng-repeat="article in articles">
			<div class="thumbnail-img" style="background-image: url('https://images.unsplash.com/photo-1459933083533-46381576caa9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=da36025d1fb02fa6334ee25dae130277');"></div>
			<div class="summary">
				<h3>{{article.title}}</h3>
				<p>{{article.image}}</p>

				<p class="clickable" ui-sref="article({id: article.id})">Read more..</p>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="col-md-8">
		<p class="footer-header">About</p>
		<hr>
		Code for Nigeria is a non-profit civic technology movement. A network of civic-minded volunteers who contribute their talents, skills, expertise, and community knowledge as technological tools to improve public service, bring governments to account, and promote informed (data-driven) decision-making; leveraging open data + media, and backed by a core (full-time) tech team.
	</div>
	<div class="col-md-4 p-t">
		<p class="clickable"><i class="fa fa-facebook-square"></i><a href="https://web.facebook.com/codefornigeria" target="_blank">Like us on Facebook</a></p>
		<p class="clickable"><i class="fa fa-twitter-square"></i><a href="https://twitter.com/codefornigeria" target="_blank">Follow us on Twitter</a></p>
	</div>
	<div class="col-md-12 partners">
		<p class="footer-header">Built by  Code for Nigeria, with thought leadership from </p>
		<hr>
		<a href="http://www.icfj.org" target="_blank"><img src="assets/img/icfj.png"></a>
		<a href="http://www.codeforafrica.org" target="_blank"><img src="assets/img/cfafrica.png"></a>
	</div>
	
	<p class="text-center text-sm text-thin"><a href="https://github.com/codefornigeria/healthtoolsv2" target="_blank">Fork this project on Github</a></p>
</div>