@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,500);
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', Helvetica;
}
.hk-search-mother {
  width: 100%;
  min-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/map.png);
  padding-top: 50px;
}
.hk-search-mother .hk-search {
  width: 50%;
  height: 80px;
  background: transparent;
  margin: 0 auto;
  border-radius: 3px;
  padding-top: 0;
  font-size: 25px;
  font-weight: normal;
  transition: all 0.5s ease-in-out;
}
.hk-search-mother .hk-search input {
  width: 100%;
  height: 80px;
  font-size: 22px;
  border: none;
  border-radius: 3px;
  padding: 0 20px 0 20px;
}
.hk-search-mother .hk-search .hk-search-results {
  width: 106%;
  height: auto;
  background: white;
  margin: 2px 0 0 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.13), 0 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  overflow: hidden;
}
.hk-search-mother .hk-search .hk-search-results li {
  width: 100%;
  list-style: none;
  padding: 10px 14px 12px;
  font-size: 15px;
  line-height: 20px;
  color: #4d4d4d;
  font-weight: 500;
  border-top: 1px solid #f2f2f2;
  text-transform: lowercase;
  cursor: pointer;
}
.hk-search-mother .hk-search .hk-search-results li:first-of-type {
  border-top: none;
}
.hk-search-mother .hk-search ::-webkit-input-placeholder {
  color: #554061 !important;
  text-align: center;
  font-size: 20px;
}
.mother {
  width: 100%;
  height: auto;
  background: #F8F8F8;
  display: none;
  padding: 10px;
  font-family: 'Raleway', Helvetica;
  transition: ease-in;
}
.mother .news-card {
  width: 33.33%;
  height: 500px;
  background: #fff;
  margin: 10px;
  font-family: 'Raleway', Helvetica;
}
.mother .news-card:hover {
  transition: .375s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.mother .news-card .photo {
  width: 100%;
  height: 200px ;
  background: #2196F3;
  position: relative;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
.mother .news-card .card-details {
  width: 100%;
  height: 300px;
  padding: 40px;
}
.mother .news-card .card-details h3 {
  text-transform: uppercase;
  font-family: 'Raleway', Helvetica;
  font-weight: 500 !important;
  color: #000;
}
.mother .news-card .card-details p {
  color: #333333;
}
